<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>

    <div class="container">

        <form>
            <br>
            <div class="form-group">
                <label for="usr">URL:</label>
                <input type="text" class="form-control" id="url" placeholder="search.." >
            </div>
            <button type="button" class="btn btn-primary">Search</button>
        </form>
    </div>
    <br>
    <br>
    <div class="container">

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Rank</th>
                    <th>Score</th>
             
                </tr>
                
            </thead>
            <tbody>
       
          <tr *ngFor="let users of result">
                   <!---- <ng-container *ngIf="{{users.length}}=== 0; else elseBlock"> -->
                    <td >{{users.name}}</td>
                    <td>{{users.rank}}</td>
                    
                    <td>{{users.score}}</td>
                </tr>
              


            </tbody>
        </table>
    </div>

</body>

</html>